@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

:root {
    --hue-color: 215;

    --skin-color: hsl(342, 92%, 46%);
    --mirage-color: hsl(317, 66%, 40%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 85%);
    --body-color: hsl(var(--hue-color), 42%, 9%);
    --box-color: hsl(var(--hue-color), 14%, 10%);
    --scroll-box-color: hsl(var(--hue-color), 12%, 38%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 26%);

    --body-font: 'Poppins', sans-serif;
    --signature-font: 'Turret Road', sans-serif;

    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    --font-medium: 500;
    --font-bold: 600;

    --mb025: .25rem;
    --mb05: .5rem;
    --mb075: .75rem;
    --mb1: 1rem;
    --mb15: 1.5rem;
    --mb2: 2rem;
    --mb25: 2.5rem;
    --mb3: 3rem;

    --z-fixed: 10;
    --z-modal: 100;

}
/* navbar stuff */

.nav { width: 100%; height: 65px; position: fixed; line-height: 65px; text-align: center; z-index: 1; }

.nav div.logo {float: left; width: auto; height: auto; padding-left: 3rem;}

.nav div.logo a { text-decoration: none; color: var(--text-color); font-size: 2.5rem;}

.nav div.logo a:hover {color: red;}

.nav div.main-list {height: 65px; float: right;}

.nav div.main-list ul { width: 100%; height: 65px; display: flex; list-style: none; margin: 0; padding: 0; }

.nav div.main-list ul li { width: auto; height: 65px; padding: 0; padding-right: 3rem; }

.nav div.main-list ul li a { text-decoration: none; color: #fff; line-height: 65px; font-size: 2.4rem; }

.nav div.main-list ul li a:hover { color: red; }

.navTrigger { display: none; }

.nav { padding-top: 20px; padding-bottom: 20px; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; }


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main-list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main-list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(14, 21, 31, 1);
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main-list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main-list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: rgba(14, 21, 31, .8);
}






.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}

/* end navbar stuff */

@media screen and (max-width: 1024px) {
    :root {
        --biggest-font-size: 2rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1.125rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
    }
}

* { margin: 0; padding: 0; box-sizing: border-box; }

html { scroll-behavior: smooth; }

body, button, input { font-family: var(--body-font); font-size: var(--normal-font-size); }
    body { background-color: var(--body-color); color: var(--text-color); }

h1, h2, h3 { color: var(--title-color); font-weight: var(--font-bold); }

ul { list-style: none; }

a { text-decoration: none; }

img { max-width: 100%; height: auto; }

button { cursor: pointer; }
    button, input { border: none; outline: none; }

.container { max-width: 1250px; margin-left: auto; margin-right: auto; }

.grid { display: grid; }

.button { 
    display: inline-flex; 
    align-items: center; 
    column-gap: .5rem; 
    background-color: var(--skin-color); 
    color: var(--title-color); 
    padding: 0.75rem 1.4rem; 
    border-radius: .25rem; 
    font-weight: var(--font-medium);
    position: relative;
    transition: .4s;
}
    .button::after { 
        position: absolute; 
        content: ''; 
        left: 0; 
        top: 0; 
        width: 100%; 
        height: 100%; 
        background-color: var(--mirage-color); 
        z-index: -1;
        transform-origin: center; 
        transform: scale(0); 
        border-radius: .25rem;
        transition: .3s; 
    }

.button:hover::after { transform: scale(1); }

.section { padding: 6.5rem 0 2rem; }

.section-title { text-align: center; font-size: var(--h1-font-size); margin-bottom: var(--mb3); }

    .section-title::before { content: attr(data-heading); display: block; font-size: var(--normal-font-size); font-weight: var(--font-medium); color: var(--skin-color); }

::-webkit-scrollbar { width: 0.7rem; background-color: var(--scroll-box-color); border-radius: .5rem; }

::-webkit-scrollbar-thumb { background-color: var(--scroll-thumb-color); border-radius: .5rem; }

/* main home */


.home { background: url('../resources/spellBG.png'); background-size: cover; background-position: center center; height: 100vh;}
.home-container { position: relative; height: 100%; align-items: center; }

.home-grad { background-image: linear-gradient(rgba(14, 21, 31, 1), rgba(14, 21, 31, 0) 30%, rgba(14, 21, 31, 0) 60%,rgba(14, 21, 31, 0.5) 80%,rgba(14, 21, 31, 1))}
.home-data { background-image: linear-gradient( to right,rgba(14, 21, 31, 0.85),rgba(14, 21, 31, 0.65) 30%,rgba(14, 21, 31, 0) 40%,rgba(14, 21, 31, 0)); border-radius: 10px; padding: 5px;}

.home-social { position: absolute; top: 1.8rem; left: 0; display: flex; align-items: center; column-gap: 3.5rem; }
.home-social-follow { font-weight: var(--font-medium); position: relative; }
    .home-social-follow::after { content: ''; position: absolute; width: 1rem; height: 2px; background-color: var(--text-color); right: -45%; top: 50%; }
.home-social-links { display: inline-flex; column-gap: 1rem; }
.home-social-link { font-size: 1.08rem; color: var(--text-color); transition: .4s; }
    .home-social-link:hover { transform: translateY(.25rem); }
.home-img { display: none; }
.home-title { font-size: var(--biggest-font-size); }
.home-subtitle { font-size: var(--h3-font-size); font-weight: var(--font-medium); margin-bottom: var(--mb075); }
.home-description { max-width: 450px; margin-bottom: var(--mb2); }
.my-info { display: flex; column-gap: 1.8rem; position: absolute; left: 0; bottom: 1.8rem; }
.info-item { display: flex; align-items: center; }
.info-title, .info-subtitle { font-size: var(--small-font-size); }
    .info-title { font-weight: var(--font-medium); }
.info-icon { font-size: 1.8rem; color: var(--skin-color); margin-right: var(--mb075); }

/* main about */

.about-container { grid-template-columns: repeat(2, 1fr); column-gap: 4rem; align-items: center; }
.about-img { width: 480px; border-radius: .75rem; justify-self: center; }
.about-heading { font-size: var(--h3-font-size); margin-bottom: var(--mb075); }
.about-description { text-align: justify; padding-right: 6rem; margin-bottom: var(--mb2); }
.about-info { display: grid; grid-template-columns: repeat(3, 140px); column-gap: .5rem; margin-bottom: var(--mb3); }
.about-box { text-align: center; border-radius: .25rem; padding: 1rem 1.25rem; background-color: var(--box-color); }
.about-icon { font-size: 1.5rem; color: var(--skin-color); margin-bottom: var(--mb075); }
.about-title { font-size: var(--small-font-size); }
.about-subtitle { font-size: var(--small-font-size); }