<!--card for work experience timeline -->
<div class="timeline_item flex-items-default">
  <div class="timeline-content text-left">
    <h3>Item 2</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi maxime
      veritatis, debitis doloremque inventore pariatur! Repudiandae modi maxime
      quis mollitia!
    </p>
    <a href="#experience-timeline" class="button">More</a>
  </div>
</div>

<!-- a card for the projects section -->
<div class="work-card mix web">
  <img
    src="../resources/robot.jpg"
    alt="a picture of a robot could be downsized"
    class="work-img"
  />
  <h3 class="work-title">Whistle Controlled Robot</h3>
  <span class="work-button"
    >More<i class="uil uil-arrow-right work-button-icon"></i
  ></span>
  <div class="project-details">
    <h3 class="details-title">A robot that is controlled by sound</h3>
    <p class="details-description">
      A walking robot that is controlled by noise and sound, specifically
      whistling
    </p>
    <ul class="details-info">
      <li>Created - <span>date here</span></li>
      <li>Tech - <span>Quantum Basic Juggling</span></li>
      <li>Status - <span>Complete</span></li>
      <li>
        See More - <span><a href="#new-page"></a></span>
      </li>
    </ul>
  </div>
</div>

<!-- card for the completed projects section -->
<li>
  <figure class="project-card">
    <img src="../resources/robot.jpg" alt="project image" class="work-img" />
    <figcaption>
      <h2>Killer Robot<span>ROS & cpp</span></h2>
      <p>Potato ipsum dol</p>
    </figcaption>
    <span class="proj-info">More Info</span>

    <!-- more details pop up -->
    <div class="portfolio-item-details">
      <h3 class="details-title">A robot that murders everyone</h3>
      <p class="details-description">
        this robot is horrendously vilent and near indestructible. We're not
        sure how to turn it off...
      </p>
      <ul class="details-info">
        <li>Created - <span>day one</span></li>
        <li>Tech - <span>Quantum Basic Juggling</span></li>
        <li>Status - <span>Complete</span></li>
        <li>
          See More - <span><a href="#new-page"></a></span>
        </li>
      </ul>
    </div>
  </figure>
</li>
